<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%);">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tea Leaf Diease</a>
    </div>
    <ul class="nav navbar-nav">
      
  
    </ul>
  </div>
</nav>
<br>
<br>
<br>
  <center>
<div class="container" style = "color: aliceblue;">
  <h3>Tea Leaf Diease</h3><br>
  <p>Tea is important element of economy<br>so we need a tool to  enhance tea production<br>This Web app developed for find 8 type of tea leaf diease <br>from the tea leaf images</p>
  <a href="base.html" class="btn btn-info" >Prediction</a>
</div>
</center>
<div >
    
</div>

</body>
</html>